.DS_Store
.thumbs.db
/node_modules

# Quasar core related directories
controlgestionfront/.quasar
controlgestionfront/dist

# Cordova related directories and files
controlgestionfront/src-cordova/node_modules
controlgestionfront/src-cordova/platforms
controlgestionfront/src-cordova/plugins
controlgestionback/.docker
controlgestionback/public/storage
controlgestionback/storage/*.key
controlgestionback/vendor
controlgestionback/storage/*
controlgestionback/.env
controlgestionback/.env.backup
controlgestionback/.phpunit.result.cache
controlgestionback/Homestead.json
controlgestionback/Homestead.yaml
controlgestionback/npm-debug.log
controlgestionback/yarn-error.log
controlgestionback/.rnd
controlgestionback/.docker
controlgestionback/.idea
controlgestionback/database/seeders/json/localidadesv.json
#/src-cordova/www

# Capacitor related directories and files
#/src-capacitor/www
#/src-capacitor/node_modules

# BEX related directories and files
#/src-bex/www
#/src-bex/js/core

# Log files
#npm-debug.log*
#yarn-debug.log*
#yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.log

.env
#.env-production
production.env